html body {
    height: 100%;}
    
    body {
    font-size: 16px;
    line-height: 26px;
    background-color: #151e33;
    font-family: helvetica;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;}
    
    main{
    width: 100%;
    max-width: 785px;
    min-width: 320px;
    background-color: #1b263e;
    border-radius: 15px;
    padding: 3rem;}
    
    a {
    color:#e3627f;
    text-decoration: none;}
    
    .signin {
    text-align: right;
    line-height: 16px;}
    
    /*title and paragraph*/
    h1 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;}
    
    article {
    width: 50%;
    border: 10px;
    text-align: center;
    margin: 2rem auto;}
    
    /*form*/
    form label {
    line-height: 0%;
    text-align: left;
    font-weight: bold;
    display: block;}
    
    form input {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 1rem;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid #495e8d;
    border-radius: 5px;
    color: white;}
    
    button {
    width: 100%;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    font-size: 18px;
    background-color: #e3627f;
    border: none;
    color: white;
    font-weight: bold;}
    
    /*Legal*/
    .legal {
        display: block;
        width: 60%;
        padding: 2rem 3rem;
        margin: auto;
        background-color: #202e4e;
        border-radius: 10px;
        text-align: center;
        color: #8f9ab2;
        font-size: 14px;
        line-height: 24px;
    
    }
    